<!DOCTYPE html>
<html>
  <%# the < % - is raw output, to avoid escaping HTML %> 
  <%- include("templates/head.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <div class="w3-bar w3-green">
          <button id="bike-tool-station" class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=Bike Tool Station';">Bike Tool Station</button>
          <button id="on-street-bike-pump" class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=On street bike pump';">On street bike pump</button>
          <button id="bike-pump-and-tool-station" class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=Bike Pump %26 Tool Station';">Bike Pump &amp; Tool Station</button>
        </div>
        <table class="w3-table w3-striped w3-border">
          <thead>
            <tr><th>Type</th><th>Name</th><th>Maintained by</th></tr>
          </thead>
          <tbody>
            <% for (var i=0; i<rows.length; i++) { %>
            <tr>
              <td><%= rows[i].Type %></td>
              <td><%= rows[i].Name %></td>
              <td><%= rows[i]['Maintained by'] %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>